@font-face {
  font-family: 'Avant Garde Book BT';
  font-style: normal;
  font-weight: normal;
  src: url('../public/fonts/AVGARDD_2.woff') format('woff'),
}

body {
  margin: 0;
  font-family: 'Avant Garde Book BT', sans-serif;
  background-color: #1b1b1b;
}