.main {

    height: 100vh;
    
    nav {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 120px;
        height: auto;
        z-index: 10;

        img {
            width: 100%;
            height: auto;
        }
    }

    .mailto {
        color: #ffffff  ;
        text-decoration: underline
    }

    .body, .mask {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #afa18f;
        font-size: 64px;
        cursor: default;

        span {
            color: #ec4e39;
        }   
        p {
           width: 1000px;
        }
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        mask-image: url('/mask.svg');
        -webkit-mask-image: url('/mask.svg');
        background: #ec4e39;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-size: 60px 60px;
        -webkit-mask-size: 60px 60px;
        color: black;
    }
}